{% extends 'base.html.twig' %}

{% block body %}

    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <h4>Notre Flotte d'autocars</h4>

                <div class="col_one_third nomargin">
                            <div class="card" style="width: 18rem; height: 300px;">
                                <img class="card-img-top" data-src="({{ asset('images/cars/83pl-thumb.jpg') }})" alt="">
                                <div class="card-body">
                                    <p class="card-text"> <span style="font-weight: bold;">VAN HOOL TD 925 ASTROMEGA/ 2 ETAGES</span><br>Sièges inclinables avec ceintures, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes, 2 tables de 4 sièges en vis à vis à l'étage inférieur.</p>
                                    <a href="#" class="btn btn-primary">Découvrez</a>
                                </div>
                            </div>
                        </div>
                <div class="col_one_third nomargin">
                            <div class="card" style="width: 18rem; height: 300px;">
                                <img class="card-img-top" data-src="holder.js/300x200" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text"> <span style="font-weight: bold;">VAN HOOL TX 17</span><br>Sièges inclinables avec ceintures, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                <div class="col_one_third nomargin">
                            <div class="card" style="width: 18rem; height: 300px;">
                                <img class="card-img-top" data-src="holder.js/300x200" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text"><span style="font-weight: bold;">VAN HOOL TX 17 ASTRON</span><br>Sièges inclinables avec ceintures, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes </p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>

                <div class="line"></div>

                <div class="col_one_third nomargin">
                    <div class="card" style="width: 18rem; height: 300px;">
                        <img class="card-img-top" data-src="({{ asset('images/cars.jpg') }})" alt="">
                        <div class="card-body">
                            <p class="card-text"><span style="font-weight: bold;">SETRA Top Class S 517 HDH</span><br>Toit panoramique, Prise de courant 220v, Chauffage des cloisons latérales, en dessous du siège et au niveau de l'appui de fenêtre, Sièges top inclinables avec ceintures, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes</p>
                            <a href="#" class="btn btn-primary">Découvrez</a>
                        </div>
                    </div>
                </div>
                <div class="col_one_third nomargin">
                    <div class="card" style="width: 18rem; height: 300px;">
                        <img class="card-img-top" data-src="holder.js/300x200" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><span style="font-weight: bold;">SETRA  517 HD</span><br>Prise de courant 220v, Chauffage des cloisons latérales, en dessous du siège et au niveau de l'appui de fenêtre, Sièges top inclinables avec ceintures, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col_one_third nomargin">
                    <div class="card" style="width: 18rem; height: 300px;">
                        <img class="card-img-top" data-src="holder.js/300x200" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><span style="font-weight: bold;">VAN HOOL T917 ASTRON</span><br>59 sièges inclinables avec ceintures ou 50 couchettes, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="line"></div>

                <div class="col_one_third nomargin">
                    <div class="card" style="width: 18rem; height: 300px;">
                        <img class="card-img-top" data-src="holder.js/300x200" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><span style="font-weight: bold;">VANHOOL TX 16 ACRON</span><br>58 sièges inclinables avec ceintures, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col_one_third nomargin">
                    <div class="card" style="width: 18rem; height: 300px;">
                        <img class="card-img-top" data-src="holder.js/300x200" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><span style="font-weight: bold;">VAN HOOL T916 ALICRON</span><br>Sièges top inclinables avec ceintures, climatisation, système vidéo DVD, réfrigérateur</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col_one_third nomargin">
                    <div class="card" style="width: 18rem; height: 300px;">
                        <img class="card-img-top" data-src="holder.js/300x200" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><span style="font-weight: bold;">SETRA S 415 HD</span><br>50 sièges inclinables avec ceintures ou 40 couchettes, climatisation top air intégré, système vidéo DVD ou CD/K7, réfrigérateur, toilettes</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="line"></div>

                <div class="col_one_third nomargin">
                    <div class="card" style="width: 18rem; height: 300px;">
                        <img class="card-img-top" data-src="holder.js/300x200" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><span style="font-weight: bold;">VAN HOOL TXII</span><br>Sièges inclinables avec ceintures, climatisation, système vidéo CD/DVD, USB, MP3, réfrigérateur</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col_one_third nomargin">
                    <div class="card" style="width: 18rem; height: 300px;">
                        <img class="card-img-top" data-src="holder.js/300x200" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><span style="font-weight: bold;">IVECO WING</span><br>Sièges inclinables avec ceintures, climatisation, système vidéo DVD, réfrigérateur</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col_one_third nomargin">
                    <div class="card" style="width: 18rem; height: 300px;">
                        <img class="card-img-top" data-src="holder.js/300x200" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><span style="font-weight: bold;">Mercedes Sprinter</span><br>Sièges top inclinables avec ceintures, climatisation top air intégré, système vidéo DVD, réfrigérateur</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>

{% endblock %}
